body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

#lede_copy {
    float: right;
    height: 50%;
    width: 50%;
    color: chartreuse;
    background-color: deeppink;
}

footer {
    text-align: center;
}

hr {
    margin:0% 20% 0 20%;
}

h1.headline {
    font-size: 5em;
    text-align: center;
}

h2.headline {
    font-size: 2em;
    text-align: center;
    margin-top: -50px;
}
