#headline {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
}

article {
    margin-left: 20%;
    margin-right: 20%;
}

.chapter_header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
}

footer {
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: gray;
}