/*
footer, #Credits, h1 {
    text-align: center;
}

article {
    text-align: center;
}

hr {
    margin:0% 20% 0 20%;
}

#Susan {
    width: 50%;
    float: left;
}

#Adriaan {
    width: 50%;
    float: right;
}

.dataViz {
    height: 100%;
    width: 100%;
    background-color: #31463F;
    float: left;
}
*/

/* ------ NEW STYLES APPLICABLE TO INDEX2------ */

h2, article {
    margin: 0% 15% 0% 15%;
}

.deck {
    text-align: center;
}