/* --------------  LOAD FONTS FROM SERVER ------------------------------ */
/* ---- The font-family defines the name that will be used in CSS ------ */ /* --------along with a source with location and  font file name ---- */
@font-face {
    font-family: "IvarHeadline-Regular";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Regular.woff2);
   }  
   @font-face {
    font-family: "IvarHeadline-Italic";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Italic.woff2);
   } 
   @font-face {
    font-family: "IvarHeadline-Bold";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Bold.woff2);
   }  
   @font-face {
    font-family: "IvarHeadline-BoldItalic";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Italic.woff2);
   } 
   @font-face {
    font-family: "IvarText-Regular";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarText-Regular.woff2);
   } 
   @font-face {
    font-family: "IvarText-Italic";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarText-Regular.woff2);
   }
   @font-face {
    font-family: "IvarText-Bold";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarText-Bold.woff2);
   }
   @font-face {
    font-family: "Staff-Regular";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Regular.woff2);
   }  
   @font-face {
    font-family: "Staff-Italic";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Italic.woff2);
   } 
   @font-face {
    font-family: "Staff-Bold";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Bold.woff2);
   }  
   @font-face {
    font-family: "Staff-BoldItalic";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-BoldItalic.woff2);
   } 
   @font-face {
    font-family: "Carrie-Regular";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/VTCCarrie-Regular.woff2);
   }

   /* ------------------ EMANCIPATOR COLORS ------------------ */
   /* FOREST      #31463F */
   /* ROSE        #CD395B */
   /* PINK        #F6B0A0 */
   /* PUTTY       #F6F2E1 */
   /* SKY         #BADEFC */
   /* BLACK       #1C1C1C */
   /* HIGHLIGHTER #EBF952 */
   /* GOLD        #FBC24C */

/* ------------------ 230315 CLASS WORK ------------------ */

h1.headline {
    color: #CD395B;
    font-family: IvarHeadline-Regular, "Georgia", serif; /* logic: use [font], else if, else if */
    font-size: 5em;
    text-align: center;
}

h2.headline {
    color: #1C1C1C;
    font-size: 2em;
    text-align: center;
    margin-top: -50px;
}

.container p {
    font-family: "Georgia", serif;
    font-size: 18px;
    line-height: 1.8;
    margin-top: 18px;
}
/* LINKS MUST BE IN THIS ORDER */
.container a:link {
  font-family: "Staff-Bold", "Arial", sans-serif;
  color: #CD395B;
}

.container a:hover {
  font-family: "Staff-Bold", "Arial", sans-serif;
  color: #31463F;
}

.container a:visited {
  font-family: "Staff-Bold", "Arial", sans-serif;
  color: #BADEFC;
}

.container {
  width: 50%;
  margin:0 auto 0 auto;
}

blockquote.quote {
  font-size: 24px;
  font-family: "Staff-Bold", "Arial", "san-serif";
  width: 50%;
  background-color: #F6F2E1;
  padding: 30px;
  float:left;
  margin-left: 0px;
  margin-right: 25px;
}

figure.round {
  margin-left: 0;
  float: left;
}

figure.round img {
  width: 100%;
  border-radius: 50%;
}

.photoGrid {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
}