body {
    margin: 0;
    padding: 0;
}

img {
    position: relative;
}

#lede {
    position:relative;
    float: right;
    max-width: 40%;
    padding-left: 5px;
    padding-right: 5px;
}

img {
    width: 100%;
}

#step_1 {
    background-color: aquamarine;
    color:darkviolet;
}

#step_2 {
    background-color:darkorange;
    color:blue;
}

#step_3 {
    background-color:#dbd5a5;
    color:#fca09e;
}

h1.headline {
    font-size: 5em;
    text-align: center;
}

h2.headline {
    font-size: 2em;
    text-align: center;
    margin-top: -50px;
}
