body {
    margin: 0;
    padding: 0;
}

.scrolly_1 {
    position: relative;
}

#lede_1 {
    position:absolute;
    top: 10%;
    right: 5%;
    width: 35%;
    background-color: aquamarine;
    color:darkviolet;
    padding-left: 5px;
    padding-right: 5px;
}

#lede_2 {
    position:absolute;
    top: 40%;
    right: 5%;
    width: 35%;
    background-color:darkorange;
    color:blue;
    padding-left: 5px;
    padding-right: 5px;
}

h1.headline {
    font-size: 5em;
    text-align: center;
}

h2.headline {
    font-size: 2em;
    text-align: center;
    margin-top: -50px;
}

footer {
    text-align: center;
}
