/* THIS STYLE SHEET SUPERSEDES BOOTSTRAP */

/* TEST */
h1 {
    color: red;
    text-align: center;
}

h2 {
  /* font-size: ; */
  color: pink;
}

/*------------ TEXT ALIGNMENT ------------*/
#grad{
  display: flex;
  justify-content: flex-end;
}

#bio {
  display: flex;
  align-items: flex-end;
}

.summary {
  color: blue; /* test stylesheet linking */
  text-overflow: ellipsis;
}

/*------------ HYPERLINKS ------------*/
a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
  }
  
  a:visited {
    color: limegreen;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

footer {
    text-align: center;
}

/*------------ DESKTOP and TABLETS ------------*/
/*------------ DEBUGGING ------------*/

/* .col{
  display: flex;
  border: solid lightblue;
}

.row{
  display: flex;
  border: solid lightpink;
}

.subhed{
  display: flex;
  border: solid coral;
} */