/* THIS STYLE SHEET SUPERSEDES BOOTSTRAP */

/* TEST */
h1 {
    color: red;
    text-align: center;
}

h2 {
  /* font-size: ; */
  color: pink;
}

/*------------ TEXT ALIGNMENT ------------*/
#grad{
  display: flex;
  justify-content: flex-end;
}

#bio {
  display: flex;
  align-items: flex-end;
}

.summary {
  color: blue; /* test stylesheet linking */
  text-overflow: ellipsis;
}

/*------------ HYPERLINKS ------------*/
a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
  }
  
  a:visited {
    color: limegreen;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

footer {
    text-align: center;
}

/*------------ DESKTOP and TABLETS ------------*/
/*------------ DEBUGGING ------------*/

/* .col{
  display: flex;
  border: solid lightblue;
}

.row{
  display: flex;
  border: solid lightpink;
}

.subhed{
  display: flex;
  border: solid coral;
} */

.breakpoint-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(255, 0, 0, 0.5);
}

.breakpoint-label {
  position: absolute;
  top: 10px;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
}

.z-index-1000 {
  z-index: 1000;
}

.pointer-events-none {
  pointer-events: none;
}