/* body styling */
body, figure, blockquote{
    margin:0;
    padding: 0;
}

main {
    margin: 0 20% 0 20%;
}

      /* Controls entire scrolly section */
      #scrolly {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #f3f3f3;
        padding: 1rem;
      }

      #scrolly > * {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
      }

      article {
        position: relative;
        padding: 0 1rem;
        max-width: 20rem;
      }

      .sticky-chart {
        position: -webkit-sticky;
        position: sticky;
        width: 100%;
        margin: 0;
        background-color: #8a8a8a;
        z-index: 0;
        top: 12.5vh;
        height: 75vh;
        /* Center everything inside */
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .sticky-chart p {
        padding: 1rem;
        font-size: 8rem;
        font-weight: 900;
        color: #fff;
      }

      .step {
        margin: 0 auto 2rem auto;
        background-color: #3b3b3b;
        color: #fff;
      }

      .step:last-child {
        margin-bottom: 0;
      }

      .step.is-active {
        background-color: goldenrod;
        color: #3b3b3b;
      }

      .step p {
        text-align: center;
        padding: 1rem;
        font-size: 1.5rem;
      }

      iframe {
        width: 860px;
        height: 560px;
      }