/* This line adds borders for debugging purposes */
/* * { border-style:solid; } */

@media screen and (min-width: 769px) {
    .hed {
        text-align: center;
        font-size: 4rem;
        line-height: 4rem;
        color: #096AB2;
    }
    
    .dek {
        margin-top: -10%;
        text-align: center;
        font-size: 0.865rem;
        color: #096AB2;
    }
    
    span.rain_vol {
        color: #F36E21;
    }   
}

@media screen and (max-width: 769px) {
    .hed {
        text-align: center;
        font-size: 2rem;
        line-height: 5rem;
        color: #096AB2;
    }
    
    .dek {
        text-align: center;
        font-size: 0.865rem;
        color: #096AB2;
    }
    
    span.rain_vol {
        color: #F36E21;
    }
    
}

