/*---------------DESKTOP STYLES---------------*/

.banner-image{
    position: relative;
}

#subhed{
    position: absolute;
    bottom: 50%;
    left: 2.5%;
    font-family: "LeJeunePoster-Regular", Times, serif;
    font-size: 1em;
    color: white;
}

#hedline{
    position: absolute;
    bottom: 15%;
    left: 2.5%;
    font-family: "LeJeunePoster-Regular", Times, serif;
    font-size: 5em;
    color: white;
}

.byline{
    margin: 0% 20% 0% 20%;
    font-family: "LeJeunePoster-Regular", Times, serif;
    color: coral;
}

.article{
    margin: 0% 20% 0% 20%;
    font-family: "GrotzecCond-Demibold", Helvetica, sans-serif;
    font-size: 1.25em;
    color: coral;
}

.dropcap{
    float: left;
    width: 0.7em;
    font-size: 400%;
    font-family: "LeJeunePoster-Regular"; Times, serif;
    line-height: 80%;
}

/*---------------MOBILE STYLES---------------*/
