p#content {
    color: red;
}

/* -------------------------------------------- FOR MOBILE AND TABLET -------------------------------------------- */
@media only screen and (MAX-width: 600px) {
    article {
        margin: 0% 0% 0% 0%;
    }
}

/* -------------------------------------------- FOR TABLET AND DESKTOP -------------------------------------------- */
@media only screen and (min-width: 601px) {
    article {
        margin: 0% 20% 0% 20%;
    }
}