/* TEST */
h1 {
  font-size: 5vh;  
  color: green;
  text-align: center;
}

/*------------ HYPERLINKS ------------*/
a:link {
  color: green; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

footer {
  text-align: center;
}

p#proj_description {
  white-space: nowrap;
  overflow: hidden;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

/*------------ SNS ICONS ------------*/
.img-fluid {
  max-width: 50%;
}